<header class="header">
    <div class="buttons-head">
        <div class="container">
            <a href="" class="link"><b>8(888)88-88-88</b></a>
            <a href="" class="link">О компании</a>
            <a href="" class="link">Информация</a>
            <a href="" class="link">Прайс-лист</a>
            <a href="" class="link">Отзовы</a>
        </div>
    </div>
</header>