<main class="main-header">
    <div class="block-1">
        <a href="/" class="link-image-site">
            <img class="icon-site" src="img/img.png" alt="иконка сайта">
        </a>
        <a href="catalog" class="button catalog">
            <img class="icon" src="img/svg/catalog.svg" alt="иконка каталога">
            <div class="text">Каталог</div> 
        </a>
    </div>
    
    <div class="search">
        <form action="" class="search">
            <div class="container">
                <input type="text" name="value-search" class="input-search" placeholder="Поиск по названию">
                <button id="but-search" class="button-search" type="reset">
                    <img class="icon-search" src="img/svg/close.svg" alt="">
                </button>
                <button id="but-search" class="button-search" type="submit">
                    <img class="icon-search" src="img/svg/search.svg" alt="">
                </button>
            </div>
            <hr class="search line-search">
        </form>
    </div>
    
    <div class="buttons">
        <a href="profile" class="button profile" type="button" id="button-profile">
            <img class="icon" src="img/svg/profile.svg" alt="иконка профиля">
            <div class="text">Профиль</div> 
        </a>
        <a href="card" class="button card">
            <img class="icon" src="img/svg/card.svg" alt="иконка корзины">
            <div class="text">Корзина</div>
        </a>
    </div>
</main>